body {
    color: rgb(255, 255, 255);
    background: rgb(102 190 168);
    font-family: "DM Serif Text", serif;
}
header {
    border-bottom: solid 15px rgb(0, 0, 0);
    padding: 10px; 
    font-size: 30px;
    color: rgb(255, 253, 253);
}

.chamada{
     background:rgb(102 190 168);
    padding-bottom: 0px; 
    padding-top: 0px;

}
.video{
    display: flex;
    justify-content: end;
}

chamada-texto{
    margin-right: 0%;
}

h1{
    font-size: 35px;
}

p{
    font-size: 20px;
}

.h2{
    color: rgb(235, 235, 235);
    background: rgb(117 169 149);
    height:70px;
    width: 1327px;
}

img{
    height: 145px;
}

.categoria-videos {
   
    display: center;
    overflow-x: auto;
    gap: 20px;
    height: 10px;
}

.categoria {
    background: rgb(117 169 149);
    padding-left: 5px;
    padding-right: 5px;
    height: 153px;
}

.categoria img{
    opacity: 0.540;
}

.categoria img:hover {
    opacity: 1.0;
    border: 2px solid pink;
}